body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-size: 1.4rem;
}

.m {
    padding: 2rem 0;
}

.text-special {
    color: #00ccff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

footer {
    background-color: #f8f9fa ;
}

html, body {
    height: 100%;
}

.container.py-5 {
    min-height: calc(100vh - 200px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.dark {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark footer,
body.dark .navbar {
  background-color: #1a1a1a !important;
}

body.dark .nav-link,
body.dark .social-links a {
  color: #f1f1f1 !important;
}
